body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f6f9;
}

header {
    text-align: center;
    padding: 40px 20px;
}

.logo {
    font-size: 4rem;
}

h1 {
    color: #2563eb;
}

p {
    color: #555;
}

/* From Uiverse.io by suda-code */
button {
    padding: 8px 16px;
    margin-left: 12px; 
    border: 0;
    border-radius: 100px;
    background-color: #2ba8fb;
    color: #ffffff;
    font-weight: bold;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
}

button:hover {
    background-color: #6fc5ff;
    box-shadow: 0 0 20px #6fc5ff50;
    transform: scale(1.1);
}

button:active {
    background-color: #3d94cf;
    transition: all 0.25s;
    -webkit-transition: all 0.25s;
    box-shadow: none;
    transform: scale(0.98);
}

/* From Uiverse.io by LightAndy1 */
.input {
    margin-top: 1rem;
    border-radius: 10px;
    outline: 2px solid #00a6fb;
    border: 0;
    font-family: "Montserrat", sans-serif;
    background-color: #d6f1ff;
    outline-offset: 3px;
    padding: 8px 10px;
    transition: all 0.2s ease;
    width: 200px; /* antes 250px */
    height: 22px;
}

.input:hover {
    background-color: #fff;
}

.input:focus {
    outline-offset: -6px;
    background-color: #d6f1ff;
}